@inherits LayoutComponentBase
@inject AutoRunService AutoRun

<div class="container">
    <NavMenu />
    <main>
        @Body
    </main>
</div>
<Taskbar />

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await AutoRun.StartAsync();
        }
    }
}
