@inherits LayoutComponentBase

@inject AutoRunService AutoRun
@inject AuthService Auth
@inject ThemeService Theme
@using HackerSimulator.Wasm.Pages

<MudThemeProvider Theme="Theme.CurrentTheme"/>
    <MudDialogProvider />
    <MudSnackbarProvider/>
        <MudLayout>
        

            <MudMainContent>
                @if (!Auth.Initialized)
                {
                    <p>Loading...</p>
                }
                else if (!Auth.HasUsers)
                {
                    <Welcome />
                }
                else if (!Auth.IsAuthenticated)
                {
                    <Login />
                }
                else
                {
                    @Body
                }
            </MudMainContent>
        </MudLayout>
        <Taskbar />



@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Auth.OnAuthInitialised += () =>
        {
            StateHasChanged();
        };
            Auth.OnUserLogin += (user) =>
        {
            StateHasChanged();

};
            await AutoRun.StartAsync();
        }
    }
}

