@inherits LayoutComponentBase

@inject AutoRunService AutoRun
@inject AuthService Auth
@using HackerSimulator.Wasm.Pages


<div class="container">

    <main>

        @if (!Auth.Initialized)
        {
            <p>Loading...</p>
        }
        else if (!Auth.HasUsers)
        {
            <Welcome />
        }
        else if (!Auth.IsAuthenticated)
        {
            <Login />
        }
        else
        {
            @Body
        }
    </main>
</div>
<Taskbar />

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Auth.OnAuthInitialised += () =>
        {
            StateHasChanged();
        };
            await AutoRun.StartAsync();
        }
    }
}

