<nav>
    <ul>
        <li><NavLink href="/">Desktop</NavLink></li>
        <li><NavLink href="terminal">Terminal</NavLink></li>
        <li><NavLink href="file-explorer">File Explorer</NavLink></li>
        <li><NavLink href="notepad">Notepad</NavLink></li>
        <li><NavLink href="code-editor">Code Editor</NavLink></li>
        <li><NavLink href="browser">Browser</NavLink></li>
        <li><NavLink href="calculator">Calculator</NavLink></li>
        <li><NavLink href="system-monitor">System Monitor</NavLink></li>
        <li><NavLink href="settings">Settings</NavLink></li>
    </ul>
</nav>

