@namespace HackerSimulator.Wasm.Apps
@inherits HackerSimulator.Wasm.Windows.WindowBase

<div class="auth-settings-app">
    <p>Use the Settings application to configure authentication options.</p>
</div>
