@namespace HackerSimulator.Wasm.Apps
@inherits HackerSimulator.Wasm.Windows.WindowBase

<div class="error-log">
    <div class="toolbar">
        <button @onclick="Load">Refresh</button>
    </div>
    <pre class="log-content">@_content</pre>
</div>
