@namespace HackerSimulator.Wasm.Apps
@inherits HackerSimulator.Wasm.Windows.WindowBase

<div class="settings">
    <label><input type="checkbox" @bind="_dark"> Dark mode</label>
    <button @onclick="Apply">Apply</button>
</div>
