@namespace HackerSimulator.Wasm.Apps
@inherits HackerSimulator.Wasm.Windows.WindowBase

<div class="text-editor">
    <div class="toolbar">
        <input type="text" @bind="_path" placeholder="/path/file.txt" class="path-box" />
        <button @onclick="Open">Open</button>
        <button @onclick="Save">Save</button>
    </div>
    <textarea class="editor" @bind="_content"></textarea>
</div>
