@namespace HackerSimulator.Wasm.Apps
@inherits HackerSimulator.Wasm.Windows.WindowBase

<div class="theme-preview">
    <div class="sample-box" style="background-color:@_color;width:100px;height:100px"></div>
    <input type="color" @bind="_color" />
</div>
