@namespace HackerSimulator.Wasm.Apps
@inherits HackerSimulator.Wasm.Windows.WindowBase

<div class="theme-docs">
    <h3>Theme Documentation</h3>
    <p>This window lists information about creating and editing themes for HackerSimulator.</p>
</div>
