@namespace HackerSimulator.Wasm.Apps
@inherits HackerSimulator.Wasm.Windows.WindowBase

<div class="theme-css-editor">
    <textarea class="editor" @bind="_content"></textarea>
    <button @onclick="Save">Save</button>
</div>
