@page "/file-explorer"
@inject FileSystemService FS
@using System.Linq

@using System.IO


<h1>File Explorer</h1>

<ul>
@foreach (var item in items)
{
    <li>@item</li>
}
</ul>

<input @bind="newFolder" placeholder="New folder name" />
<button @onclick="Create">Create Folder</button>

@code {
    private string path = "/";
    private string newFolder = string.Empty;
    private IEnumerable<string> items = Enumerable.Empty<string>();

    protected override async Task OnInitializedAsync()
    {
        var dir = await FS.ReadDirectory(path);
        items = dir.Select(d => d.Name);
    }

    private async Task Create()
    {
        if (!string.IsNullOrWhiteSpace(newFolder))
        {
            await FS.CreateDirectory(System.IO.Path.Combine(path.TrimEnd('/'), newFolder));
            newFolder = string.Empty;
            var dir = await FS.ReadDirectory(path);
            items = dir.Select(d => d.Name);

        }
    }
}
