@page "/filesystem-test"
@using HackerOs.Components
@using HackerOs.OS.IO.FileSystem

<PageTitle>File System Test</PageTitle>

<h1>HackerOS File System Persistence Test</h1>

<p>
    This page tests the complete persistence layer integration for the HackerOS virtual file system.
    Use the test component below to validate IndexedDB storage functionality.
</p>

<FileSystemTest />
